*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.bg {
    background-color: black;
}

.wd {
    width: 360px;
    height: 100px;
    background-color: black;
    border-color: black;
}

.btn.btn-rad {
    border-radius: 100%;
    height: 56px;
    width: 65px;
    margin: 5px;
}

.btn.btn-zz {
    width: 175px;
    height: 56px;
    border-radius: 50px;
    
}

/* .mar{
    margin-top: 30%;
} */

.txt {
    text-size-adjust: 10%;
    color:  white;
}